EvalDir = "${CoverageControl_ws}/lpac/eval/comparison_fixed/"
EnvironmentConfig = "${CoverageControl_ws}/lpac/params/coverage_control_params.toml"
CCParams = "params/coverage_control_params.toml"
EnvironmentDataDir = "${CoverageControl_ws}/lpac/envs/"
FeatureFile = "0.env"
RobotPosFile = "0.pos"

NumSteps = 600
PlotMap = true
GenerateVideo = true

[[Controllers]]
Name = "Ours-DDPF"
Type = "DiffusionPolicy"  # Keep this Type so it loads the class!
ModelStateDict = "${CoverageControl_ws}/src/CoverageControl/checkpoints/madp_traj/epoch_1000.pth"
LearningParams = "${CoverageControl_ws}/lpac/params/learning_params.toml"
UseCNN = true
UseCommMap = true
UseRobotMap = true
UseObstacleMap = true
CNNMapSize = 32
InferenceSteps = 10
ActionScale = 3.8
HorizonStep = 5
MaxAction = 5
NumParticles = 64      # More particles = better results (but slower)
ResampleFreq = 5       # Resample every 5 steps
SoftmaxTemp = 0.2     # Lower = Greedy (kills bad particles faster)



# --- Controller 1: Baseline (Diffusion) ---
[[Controllers]]
Name = "Baseline-Diffusion"
Type = "DiffusionPolicy"
ModelStateDict = "${CoverageControl_ws}/src/CoverageControl/checkpoints/madp_traj/epoch_1000.pth"
LearningParams = "${CoverageControl_ws}/lpac/params/learning_params.toml"
UseCNN = true
UseCommMap = true
UseRobotMap = true
UseObstacleMap = true
CNNMapSize = 32
InferenceSteps = 10
MaxAction = 5
NumParticles = 1
ActionScale = 3.8
HorizonStep = 0


# --- Controller 2: Ours (Flow Filtered) ---
[[Controllers]]
Name = "Ours-FlowFiltered"
Type = "FlowFiltered"
ModelStateDict = "checkpoints_flow_unet/epoch_1000.pth"
# Use same params if compatible, or defaults
LearningParams = "${CoverageControl_ws}/lpac/params/learning_params.toml"
InferenceSteps = 10    # Increase from 10 -> 20 (Better quality)
HorizonStep = 0        # Look ahead 3 steps instead of default (likely 0 or 1)
ActionScale = 3.8